<div class="index-container">
    <h1>Movies Viewer</h1>
    <form action="/movie">
        <div>
            <input type="text" class="input-field" name="title" placeholder="Movie Title">
        </div>
        <div><button class="search-btn">search</button></div>
    </form>
</div>

